.dataimg {
    transition:transform 0.25s ease;
}

.dataimg:hover {
    -webkit-transform:scale(20); /* or some other value */
    transform:scale(20);
    position: absolute;
    z-index: 3;
}


@media (max-width: 575.98px) {
    .float-sm-right{
        display: none;
    }
    h1{
        font-size: 30px;
    }
    .btn-primary.custom-button{
        margin-left:15px;
    }
 }